:root{
    --background: #eaedf4;
    --white: #f9f9f9;
    --bluegray: #313749;
    --gray: #85888C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Verdana", sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--bluegray);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.logo {
    display: flex;
    padding: 15px;
    align-items: center;
}

.logo span {
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--white);
    font-family: "JetBrains Mono";
    margin-left: 20px;
    margin-right: 10px;
}

.icons {
    display: flex;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.nav{
    display: flex;
    margin-left: auto;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--bluegray);
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 30px;
    padding-left: 15px;
    color: var(--white);
}

.menu a:hover{
    background-color: var(--gray);
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb {
    display: flex;
    cursor: pointer;
    margin-left: auto;
    padding: 30px 20px;
    z-index: 20;
}

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

body:has(.side-menu:checked) {
  overflow: hidden;
}

#intro h1{
    font-family: "JetBrains Mono";
    text-decoration: none;
    font-weight: normal;
}

#name {
    color: #785db2;
}

.type-flex {
    display: flex;
}

.typewriter {
    color: #4c4c4c;
}

#typing-text {
    color:#2193cc;
    border-right: 2px solid #2193cc;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    animation: blink 0.7s step-end infinite;
}

.about-me {
    padding: 30px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* PORTRAIT MOBILE PHONES */
@media only screen and (max-width: 600px) {
    #intro h1{
        padding: 30px;
        font-size: 2em;
    }

    .logo span {
        margin-right: 10px;
        margin-left: 10px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: var(--bluegray);
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out;
    }

    .nav {
        position: fixed;
        top: 90px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    .nav ul {
        width: 100%;
    }

    .nav a {
        padding-left: 30px;
    }

    .side-menu:checked ~ nav{
        max-height: 100%;
        top: 90px;
    }

    .type-flex {
        padding-left: 30px;
    }

    .typewriter {
        font-size: 1.2em;
    }

    .links ul img {
        width: 40px;
    }

    .intro-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #intro-pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #intro {
        width: 100%;
    }

    .circle-img-big {
        display: flex;
        justify-content: center;
        width: 250px;
        height: 250px;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .circle-img-big img {
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    
    .dodger-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .circle-img-small {
        justify-content: center;
        display: flex;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .circle-img-small img {
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    
    #dodger {
        background-color: var(--bluegray);
        padding: 20px;
        border-radius: 50px;
        color: #e5e5e5;
        font-size: 14px;
        text-align: center;
        margin-top: 50px;
        margin-left: 10px;
        /* position: relative; */
        /* display: inline-block; */
        max-width: 150px;
    }

    .logo span {
        font-size: 1em;
    }

    .icons img {
        width: 30px;
    }
}

/* LAPTOP, DESKTOP, LANDSCAPE TABLETS */
@media only screen and (min-width: 600px) {
    #intro h1{
        padding: 30px;
        padding-left: 100px;
        padding-top: 100px;
        font-size: 4em;
    }

    .type-flex {
        padding-left: 100px;
        padding-top: 50px;
    }

    .typewriter {
        font-size: 2em;
    }

    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
    }

    .hamb{
        display: none;
    }

    .about-me {
        padding-left: 100px;
        width: 75%;
    }

    .intro-flex {
        display: flex;
        flex-direction: row;
    }

    #intro {
        width: 75%;
    }
    
    #intro-pic {
        margin-top: 75px;
        margin-right: 150px;
    }
    
    .circle-img-big {
        justify-content: center;
        display: flex;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .circle-img-big img {
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    
    .dodger-flex {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .circle-img-small {
        justify-content: center;
        display: flex;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .circle-img-small img {
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    
    #dodger {
        background-color: var(--bluegray);
        padding: 20px;
        border-radius: 50px;
        color: #e5e5e5;
        font-size: 14px;
        text-align: center;
        margin-top: 50px;
        margin-left: 10px;
        position: relative;
        display: inline-block;
        max-width: 150px;
    }
}