* {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Sans", sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#menu-item li:hover {
    background-color: #000000;
    text-decoration: underline;
}

/* PORTRAIT MOBILE PHONES */
@media only screen and (max-width: 600px) {
    .container {
        overflow: hidden;
        background-color: black;
        position: relative;
    }

    .container #menu {
        display: none;
    }

    .container a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .container a.icon {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
    }

    .container ul {
        list-style: none;
        margin: 0;
        padding: 10px;
        padding-left: 0;
        background-color: black;
        top: 0;
        font-family: "Tahoma", sans-serif;
        padding-bottom: 0;
    }

    .container a:hover {
        background-color: #ddd;
        color: black;
    }

    .container li:hover {
        background-color: #ddd;
        color: black;
    }

    #selected li:hover {
        background-color: #ddd;
        text-decoration: underline;
        color:#F76902;
    }

    .active {
        color: white;
    }
}

/* LAPTOP, DESKTOP, LANDSCAPE TABLETS */
@media only screen and (min-width: 600px) {

    .container {
        background-color: black;
    }
    
    .banner img{
        bottom: 0px;
        max-width: 100%;
        height: auto;
    }
    
    .container ul {
        margin: 0;
        padding: 10px;
        padding-left: 0;
        background-color: black;
        position: fixed;
        z-index: 100;
        top: 0;
        font-family: "Tahoma", sans-serif;
        width: 100%;
        padding-bottom: 0;
    }
    
    .container li:hover {
        background-color: #F76902;
        text-decoration: underline;
    }

    .container a {
        text-decoration: none;
        color: white;
        font-size: 12pt;
        display: inline-block;
        height: 30px;
    }

    .container li {
        padding: 10px;
        display: inline;
        position: relative;
    }
}